---
import Layout from "../layouts/Layout.astro";
import Nav from '../layouts/Nav.astro'
---

<Layout title="Preguntas frecuentes">
  <main class="w-full h-full bg-white">
    <Nav />
    <section>
        <h2>1. ¿Cómo puedo inscribirme en asignaturas?</h2>
        <p>Puedes inscribirte en asignaturas a través de tu cuenta de estudiante. Visita la sección de inscripciones y sigue los pasos indicados.</p>
    </section>

    <section>
        <h2>2. ¿Cuándo comienza el periodo de inscripciones?</h2>
        <p>El periodo de inscripciones suele abrirse antes de cada semestre académico. Consulta el calendario académico para conocer las fechas exactas.</p>
    </section>

    <section>
        <h2>3. ¿Puedo modificar mi horario después de inscribirme en asignaturas?</h2>
        <p>Sí, puedes realizar modificaciones durante el periodo de ajustes. Después de este periodo, las modificaciones estarán sujetas a aprobación.</p>
    </section>

    <section>
        <h2>4. ¿Cómo encuentro información sobre las asignaturas disponibles?</h2>
        <p>En la plataforma de inscripciones, encontrarás un catálogo con todas las asignaturas disponibles, junto con sus descripciones y requisitos.</p>
    </section>

    <section>
        <h2>5. ¿Cuál es el límite de créditos que puedo inscribir por semestre?</h2>
        <p>El límite de créditos varía según tu programa académico y tu nivel de estudios. Consulta las políticas académicas o comunícate con el departamento correspondiente para obtener información específica.</p>
    </section>

    <section>
        <h2>6. ¿Puedo inscribirme en asignaturas de otros programas académicos?</h2>
        <p>La posibilidad de inscribirte en asignaturas de otros programas depende de las políticas de la institución. Algunas permiten cierta flexibilidad, mientras que otras tienen restricciones. Verifica las reglas académicas o contacta con el departamento de estudios para obtener más información.</p>
    </section>

    <section>
        <h2>7. ¿Qué debo hacer si tengo un solapamiento de horarios?</h2>
        <p>En caso de solapamiento de horarios, debes comunicarte con el departamento académico correspondiente para buscar una solución, como la obtención de permisos especiales o encontrar alternativas adecuadas.</p>
    </section>

    <section>
        <h2>8. ¿Cómo puedo saber si he completado los requisitos para inscribirme en una asignatura específica?</h2>
        <p>Verifica los requisitos previos de cada asignatura en el catálogo de cursos. Si tienes dudas, puedes consultar con tu asesor académico o el departamento de estudios.</p>
    </section>

    <section>
        <h2>9. ¿Cuáles son los pasos para retirarme de una asignatura después de inscribirme?</h2>
        <p>Para retirarte de una asignatura después de inscribirte, sigue el proceso de retiro indicado en la plataforma de inscripciones. Ten en cuenta los plazos establecidos para evitar penalizaciones.</p>
    </section>

    <section>
        <h2>10. ¿Hay restricciones en el número de asignaturas que puedo cursar en un semestre?</h2>
        <p>Las restricciones en el número de asignaturas pueden variar. Consulta las políticas de tu programa académico o comunícate con el departamento de estudios para obtener información detallada.</p>
    </section>

    <section>
        <h2>11. ¿Puedo inscribirme en asignaturas de verano?</h2>
        <p>Algunas instituciones ofrecen asignaturas durante el periodo de verano. Consulta la disponibilidad y los requisitos para inscribirte en asignaturas de verano.</p>
    </section>

    <section>
        <h2>12. ¿Cuándo recibiré mi horario de clases después de la inscripción?</h2>
        <p>Recibirás tu horario de clases poco después de que finalice el periodo de inscripciones. Verifica tu cuenta de estudiante o la plataforma correspondiente para obtener la información.</p>
    </section>

    <section>
        <h2>13. ¿Qué debo hacer si tengo dificultades técnicas durante el proceso de inscripción?</h2>
        <p>Si encuentras dificultades técnicas, comunícate con el soporte técnico de la plataforma de inscripciones o el servicio de tecnología de la institución para recibir asistencia.</p>
    </section>

    <section>
        <h2>14. ¿Puedo inscribirme en asignaturas de posgrado si soy estudiante de pregrado?</h2>
        <p>La posibilidad de inscribirte en asignaturas de posgrado puede estar sujeta a ciertas restricciones. Consulta con el departamento académico para obtener información específica sobre esta opción.</p>
    </section>

    <section>
        <h2>15. ¿Existen asignaturas con cupo limitado? ¿Cómo funciona el proceso de asignación de cupos?</h2>
        <p>Algunas asignaturas pueden tener cupo limitado. Asegúrate de entender el proceso de asignación de cupos y sigue las instrucciones proporcionadas para asegurar tu lugar en las asignaturas deseadas.</p>
    </section>

</main>
</Layout>