---
import Layout from "../layouts/Layout.astro";
import Nav from "../layouts/Nav.astro";
---

<Layout title="Preguntas frecuentes">
    <Nav />
    <section class="bg-white w-2/3 mx-auto">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <h2
                class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900"
            >
                Preguntas frecuentes
            </h2>
            <div
                class="grid pt-8 text-left border-t border-gray-200 md:gap-16md:grid-cols-2"
            >
                <div>
                    <div class="mb-10">
                        <h3
                            class="flex items-center mb-4 text-lg font-medium text-black"
                        >
                            <svg
                                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                                ><path
                                    fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd"></path></svg
                            >
                             ¿Cómo puedo inscribirme en asignaturas?
                        </h3>
                        <p class="text-gray-900">
                            Puedes inscribirte en asignaturas a través de tu
                            cuenta de estudiante. Visita la sección de
                            inscripciones y sigue los pasos indicados.
                        </p>
                    </div>

                    <div class="mb-10">
                        <h3
                            class="flex items-center mb-4 text-lg font-medium text-black"
                        >
                            <svg
                                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                                ><path
                                    fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd"></path></svg
                            >
                             ¿Cuándo comienza el periodo de inscripciones?
                        </h3>
                        <p class="text-gray-900">
                            El periodo de inscripciones suele abrirse antes de
                            cada semestre académico. Consulta el calendario
                            académico para conocer las fechas exactas.
                        </p>
                    </div>

                    <div class="mb-10">
                        <h3
                            class="flex items-center mb-4 text-lg font-medium text-black"
                        >
                            <svg
                                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                                ><path
                                    fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd"></path></svg
                            >
                             ¿Puedo modificar mi horario después de inscribirme
                            en asignaturas?
                        </h3>
                        <p class="text-gray-900">
                            Sí, puedes realizar modificaciones durante el
                            periodo de ajustes. Después de este periodo, las
                            modificaciones estarán sujetas a aprobación.
                        </p>
                    </div>

                    <div class="mb-10">
                        <h3
                            class="flex items-center mb-4 text-lg font-medium text-black"
                        >
                            <svg
                                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                                ><path
                                    fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd"></path></svg
                            >
                             ¿Cómo encuentro información sobre las asignaturas
                            disponibles?
                        </h3>
                        <p class="text-gray-900">
                            En la plataforma de inscripciones, encontrarás un
                            catálogo con todas las asignaturas disponibles,
                            junto con sus descripciones y requisitos.
                        </p>
                    </div>

                    <div class="mb-10">
                        <h3
                            class="flex items-center mb-4 text-lg font-medium text-black"
                        >
                            <svg
                                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                                ><path
                                    fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd"></path></svg
                            >
                             ¿Cuál es el límite de créditos que puedo inscribir
                            por semestre?
                        </h3>
                        <p class="text-gray-900">
                            El límite de créditos varía según tu programa
                            académico y tu nivel de estudios. Consulta las
                            políticas académicas o comunícate con el
                            departamento correspondiente para obtener
                            información específica.
                        </p>
                    </div>

                    <div class="mb-10">
                        <h3
                            class="flex items-center mb-4 text-lg font-medium text-black"
                        >
                            <svg
                                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                                ><path
                                    fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd"></path></svg
                            >
                             ¿Cuál es el límite de créditos que puedo inscribir
                            por semestre?
                        </h3>
                        <p class="text-gray-900">
                            El límite de créditos varía según tu programa
                            académico y tu nivel de estudios. Consulta las
                            políticas académicas o comunícate con el
                            departamento correspondiente para obtener
                            información específica.
                        </p>
                    </div>

                    <div class="mb-10">
                        <h3
                            class="flex items-center mb-4 text-lg font-medium text-black"
                        >
                            <svg
                                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                                ><path
                                    fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd"></path></svg
                            >
                             ¿Puedo inscribirme en asignaturas de otros
                            programas académicos?
                        </h3>
                        <p class="text-gray-900">
                            La posibilidad de inscribirte en asignaturas de
                            otros programas depende de las políticas de la
                            institución. Algunas permiten cierta flexibilidad,
                            mientras que otras tienen restricciones. Verifica
                            las reglas académicas o contacta con el departamento
                            de estudios para obtener más información.
                        </p>
                    </div>

                    <div class="mb-10">
                        <h3
                            class="flex items-center mb-4 text-lg font-medium text-black"
                        >
                            <svg
                                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                                ><path
                                    fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd"></path></svg
                            >
                             ¿Cómo puedo saber si he completado los requisitos
                            para inscribirme en una asignatura específica?
                        </h3>
                        <p class="text-gray-900">
                            Verifica los requisitos previos de cada asignatura
                            en el catálogo de cursos. Si tienes dudas, puedes
                            consultar con tu asesor académico o el departamento
                            de estudios.
                        </p>
                    </div>

                    <div class="mb-10">
                        <h3
                            class="flex items-center mb-4 text-lg font-medium text-black"
                        >
                            <svg
                                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                                ><path
                                    fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd"></path></svg
                            >
                             ¿Cuáles son los pasos para retirarme de una
                            asignatura después de inscribirme?
                        </h3>
                        <p class="text-gray-900">
                            Para retirarte de una asignatura después de
                            inscribirte, sigue el proceso de retiro indicado en
                            la plataforma de inscripciones. Ten en cuenta los
                            plazos establecidos para evitar penalizaciones.
                        </p>
                    </div>

                    <div class="mb-10">
                        <h3
                            class="flex items-center mb-4 text-lg font-medium text-black"
                        >
                            <svg
                                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                                ><path
                                    fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd"></path></svg
                            >
                             ¿Hay restricciones en el número de asignaturas que
                            puedo cursar en un semestre?
                        </h3>
                        <p class="text-gray-900">
                            Las restricciones en el número de asignaturas pueden
                            variar. Consulta las políticas de tu programa
                            académico o comunícate con el departamento de
                            estudios para obtener información detallada.
                        </p>
                    </div>

                    <div class="mb-10">
                        <h3
                            class="flex items-center mb-4 text-lg font-medium text-black"
                        >
                            <svg
                                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                                ><path
                                    fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd"></path></svg
                            >
                             ¿Puedo inscribirme en asignaturas de verano?
                        </h3>
                        <p class="text-gray-900">
                            Algunas instituciones ofrecen asignaturas durante el
                            periodo de verano. Consulta la disponibilidad y los
                            requisitos para inscribirte en asignaturas de
                            verano.
                        </p>
                    </div>

                    <div class="mb-10">
                        <h3
                            class="flex items-center mb-4 text-lg font-medium text-black"
                        >
                            <svg
                                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                                ><path
                                    fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd"></path></svg
                            >
                             ¿Cuándo recibiré mi horario de clases después de la
                            inscripción?
                        </h3>
                        <p class="text-gray-900">
                            Recibirás tu horario de clases poco después de que
                            finalice el periodo de inscripciones. Verifica tu
                            cuenta de estudiante o la plataforma correspondiente
                            para obtener la información.
                        </p>
                    </div>

                    <div class="mb-10">
                        <h3
                            class="flex items-center mb-4 text-lg font-medium text-black"
                        >
                            <svg
                                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                                ><path
                                    fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd"></path></svg
                            >
                             ¿Qué debo hacer si tengo dificultades técnicas
                            durante el proceso de inscripción?
                        </h3>
                        <p class="text-gray-900">
                            Si encuentras dificultades técnicas, comunícate con
                            el soporte técnico de la plataforma de inscripciones
                            o el servicio de tecnología de la institución para
                            recibir asistencia.
                        </p>
                    </div>

                    <div class="mb-10">
                        <h3
                            class="flex items-center mb-4 text-lg font-medium text-black"
                        >
                            <svg
                                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                                ><path
                                    fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd"></path></svg
                            >
                             ¿Puedo inscribirme en asignaturas de posgrado si
                            soy estudiante de pregrado?
                        </h3>
                        <p class="text-gray-900">
                            La posibilidad de inscribirte en asignaturas de
                            posgrado puede estar sujeta a ciertas restricciones.
                            Consulta con el departamento académico para obtener
                            información específica sobre esta opción.
                        </p>
                    </div>

                    <div class="mb-10">
                        <h3
                            class="flex items-center mb-4 text-lg font-medium text-black"
                        >
                            <svg
                                class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                                ><path
                                    fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd"></path></svg
                            >
                             ¿Existen asignaturas con cupo limitado? ¿Cómo
                            funciona el proceso de asignación de cupos?
                        </h3>
                        <p class="text-gray-900">
                            Algunas asignaturas pueden tener cupo limitado.
                            Asegúrate de entender el proceso de asignación de
                            cupos y sigue las instrucciones proporcionadas para
                            asegurar tu lugar en las asignaturas deseadas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>
