---
import type { Code } from "astro:components";
import Layout from "../layouts/Layout.astro";
import Nav from "../layouts/Nav.astro";
---

<Layout title="Página principal">
	<Nav />
	<main>
		<header class="flex w-full h-screen">
			<section

				class="flex flex-col justify-center px-16 lg:items-end items-center lg:w-3/4 sm:w-full bg-primary1" >
				<h1 class="text-[70px] text-right font-bold">
					Inscripción de Asignaturas
				</h1>
				<h2 class="text-6xl font-extralight py-5">
					Universidad Mayor 2023
				</h2>
				<a
					href="/login"
					class="mt-4 border-4 border-primary2 w-max h-max text-2xl px-20 py-6 bg-white text-black font-bold rounded-xl hover:bg-gray-100"
					>¡Inscribete aquí!</a
				>
			</section>
			<section class="lg:w-1/4 w-0 overflow-hidden">
				<div
					class="w-full h-full blur scale-[1.3] bg-crowd-walking bg-no-repeat bg-cover">
				</div>
			</section>
		</header>

		<section class="bg-white py-24 sm:py-32">
			<div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/ljXbJmTReEc?si=r1ObxNGbApYtcYs3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				<div class="mt-4 md:mt-0">
					<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">No lo dejes para mañana!</h2>
					<p class="mb-6 font-light text-gray-500 md:text-lg">
						Tomar tus ramos hoy no solo beneficia tu rendimiento académico, sino que también contribuye a tu bienestar general al reducir la carga mental y promover una mentalidad positiva hacia tus estudios. ¡Aprovecha el momento y comienza ahora para disfrutar de los beneficios a largo plazo!</p>
					<a href="/login" class="inline-flex items-center text-black bg-primary1 focus:ring-4  font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
						Toma tus ramos ahora
						<svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
					</a>
				</div>
			</div>
		</section>




		
		<section class="bg-neutral-100 py-24 sm:py-32">
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<div class="mx-auto max-w-2xl lg:mx-0">
				  <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Planifica tu Éxito Académico</h2>
				</div>
				<div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
				  
					<article class="flex max-w-xl flex-col items-start justify-between">
					<div class="group relative">
					  <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
						<a href="#">
						  <span class="absolute inset-0"></span>
						  Variedad de Opciones
						</a>
					  </h3>
					  <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">Inscribirse temprano te brinda la oportunidad de elegir entre una variedad de cursos y horarios. Cuanto más esperes, es posible que las opciones se agoten o que se llenen los cursos que más te interesan.</p>
					</div>
				  </article>
			
				  
				  <article class="flex max-w-xl flex-col items-start justify-between">
					<div class="group relative">
					  <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
						<a href="#">
						  <span class="absolute inset-0"></span>
						  Evitar el Estrés
						</a>
					  </h3>
					  <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">Dejarlo para el último momento puede causar estrés innecesario. La prisa de última hora puede llevar a errores en la elección de cursos o la inscripción, lo que podría afectar tu experiencia académica.</p>
					</div>
				  </article>

				  <article class="flex max-w-xl flex-col items-start justify-between">
					<div class="group relative">
					  <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
						<a href="#">
						  <span class="absolute inset-0"></span>
						  Conseguir los Mejores Profesores
						</a>
					  </h3>
					  <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">Los profesores suelen llenar sus cursos de manera proporcional a su reputación. Inscribirte temprano aumenta tus posibilidades de conseguir los profesores que tienen buenas críticas y una enseñanza efectiva.</p>
					</div>
				  </article>
				  
				</div>
			  </div>
		</section>
		
		

<footer class="bg-black">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a href="/" class="flex items-center">
                  <img src="\LOGO-UM-BANCO-H.png" class="h-8 me-3" alt="UMayor Logo" />
              </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div>
                  <h2 class="mb-6 text-sm font-semibold uppercase text-white">Contacto</h2>
                  <ul class="text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="https://www.umayor.cl/" class="hover:underline">Universidad Mayor</a>
                      </li>
                      <li>
                          <a href="https://www.umayor.cl/um/santiago-portales" class="hover:underline">Portales académicos</a>
                      </li>
                  </ul>
              </div>
              
              <div>
                  <h2 class="mb-6 text-sm font-semibolduppercase text-white">Estudiantes</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="https://www.umayor.cl/dae-umayor/" class="hover:underline">Asuntos Estudiantiles</a>
                      </li>
                      <li>
                          <a href="https://www.umayor.cl/um/servicios-estudiantiles/Oficina-Registro-Estudiantes-ORE" class="hover:underline">Registro de Estudiantes</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm sm:text-center text-gray-400">© 2023 <span class="hover:underline">Yakuma™</span>. All Rights Reserved.
          </span>
          
      </div>
    </div>
</footer>

	</main>
</Layout>
