---
import type { Code } from "astro:components";
import Layout from "../layouts/Layout.astro";
import Nav from "../layouts/Nav.astro";
---

<Layout title="Página principal">
	<Nav />
	<main>
		<header class="flex w-full h-screen">
			<section

				class="flex flex-col justify-center px-16 lg:items-end items-center lg:w-3/4 sm:w-full bg-primary1" >
				<h1 class="text-[70px] text-right font-bold">
					Inscripción de Asignaturas
				</h1>
				<h2 class="text-6xl font-extralight py-5">
					Universidad Mayor 2023
				</h2>
				<a
					href="/login"
					class="mt-4 border-4 border-primary2 w-max h-max text-2xl px-20 py-6 bg-white text-black font-bold rounded-xl hover:bg-gray-100"
					>¡Inscribete aquí!</a
				>
			</section>
			<section class="lg:w-1/4 w-0 overflow-hidden">
				<div
					class="w-full h-full blur scale-[1.3] bg-crowd-walking bg-no-repeat bg-cover">
				</div>
			</section>
		</header>
		<section
			class="flex lg:justify-center lg:flex-row flex-wrap items-center flex-col [&>*]:m-3 w-full h-max lg:px-32"
		>
			<article class="block w-96 h-64 rounded-xl bg-gray-300">
				<div class="w-full h-1/5 rounded-t-xl font bg-yellow-300">
					<h1 class="text-black text-center font-bold pt-3">
						Preguntas Frecuentes
					</h1>
				</div>
			</article>
			<article class="block w-96 h-64 rounded-xl bg-gray-300">
				<div class="w-full h-1/5 rounded-t-xl font bg-yellow-300">
					<h1 class="text-black text-center font-bold pt-3">
						Preguntas Frecuentes
					</h1>
				</div>
			</article>
			<article class="block w-96 h-64 rounded-xl bg-gray-300">
				<div class="w-full h-1/5 rounded-t-xl font bg-yellow-300">
					<h1 class="text-black text-center font-bold pt-3">
						Preguntas Frecuentes
					</h1>
				</div>
			</article>
			<article class="block w-96 h-64 rounded-xl bg-gray-300">
				<div class="w-full h-1/5 rounded-t-xl font bg-yellow-300">
					<h1 class="text-black text-center font-bold pt-3">
						Preguntas Frecuentes
					</h1>
				</div>
			</article>
		</section>
		<footer class="bg-background h-48 w-full">
			<div class="grid"></div>
		</footer>
	</main>
</Layout>
