---
import Layout from "../layouts/Layout.astro";
import Nav from "../layouts/Nav.astro";

const errors = { email: "", password: "" };
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const email = data.get("email");
    const password = data.get("password");
    if (
      typeof email !== "string" ||
      !/^[a-zA-Z._%+-]+@[a-zA-Z.-]+\.[a-zA-Z]{1,}$/.test(email)
    ) {
      errors.email += "El correo ingresado no es válido";
    }
    console.log(email, password);
    const hasErrors = Object.values(errors).some((msg) => msg);
    if (!hasErrors) {
      return Astro.redirect("/inscripcion");
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout title="Inicio sesión">
  <Nav />
  <main
    class="w-screen bg-primary2 backdrop-blur-sm h-screen flex items-center justify-center"
  >
    <div class="bg-neutral-200 w-96 h-max p-5 rounded-md">
      <form class="flex flex-col justify-center" method="POST">
        <h1 class="mb-5 text-center text-2xl font-bold leading-9 text-gray-900">
          Inicio de sesión
        </h1>
        <label class=" text-sm font-medium leading-6 text-gray-900">
          Correo electrónico
          <input
            type="email"
            placeholder="nombre.apellido@mayor.cl"
            name="email"
            class="pl-2 w-full rounded-md border-0  py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary1"
            required
          />
        </label>
        {errors.email && <p>{errors.email}</p>}
        <label class=" text-sm font-medium leading-6 text-gray-900 mt-4">
          Contraseña
          <input
            type="password"
            name="password"
            placeholder="Ingresa tu contraseña"
            class="pl-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary1"
            required
            minlength="8"
          />
        </label>
        {errors.password && <p>{errors.password}</p>}

        <button
          class="mt-5 w-full rounded-md bg-primary1 px-3 py-1.5 text-sm font-semibold leading-6 text-black shadow-sm hover:bg-yellow-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary1  transition ease-in duration-150 "
        >
          Iniciar sesión
        </button>
        <a
          href="https://umayorestudiantil.reqlut.com/password"
          class="mt-5 text-center text-sm text-gray-500 hover:underline"
          >¿Olvidó su contraseña?</a
        >
      </form>
    </div>
  </main>
</Layout>
