---
import Layout from "../layouts/Layout.astro";
import Nav from "../layouts/Nav.astro";

---

<Layout title="Malla curricular">
    <Nav/>
    <section class="bg-white w-2/3 mx-auto pt-20">
        <h1 class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900 pl-8">
            Malla curricular
        </h1>
        <img class="w-auto pb-20" src="Ing civil comp e informatica.jpg" >
    </section>
</Layout>