<nav class="z-10 fixed w-full bg-background text-white">
  <ul class="lg:flex sm:block justify-around items-center h-12">
    <li><img src="/logo-mayor.png" class="w-[50px] h-full"/></li>
    <li><a href="#">Preguntas frecuentes</a></li>
    <li><a href="#">Recursos adicionales</a></li>
    <li><a href="#">Contactanos</a></li>
    <li><a href="/login">Iniciar Sesión</a></li>
  </ul>
</nav>