<nav class="z-10 fixed w-full bg-black text-white flex justify-between items-center px-16  ">
  <a href="/"><img src="\LOGO-UM-BANCO-H.png" class="m-2 h-7"/></a>

  <ul class="flex h-12 gap-10 items-center ">
    <li><a href="/" class="hover:underline hover:text-primary1 font-bold text-lg">Página principal</a></li>
    <li><a href="#" class="hover:underline hover:text-primary1 font-bold">Malla curricular</a></li>
    <li><a href="/faq" class="hover:underline hover:text-primary1 font-bold">Preguntas frecuentes</a></li>
    <li><a href="/horario" class="hover:underline hover:text-primary1 font-bold">Horario actual</a></li>
  </ul>

  <a href="/login" class="m-2 hover:underline hover:text-primary1 font-bold">Iniciar Sesión</a>
</nav>