<nav class="z-10 fixed w-full bg-background text-white">
  <ul class="lg:flex sm:block justify-around items-center h-12">
    <li><img src="\LOGO-UM-BANCO-H.png" class="w-[200px] h-full"/></li>
    <li><a href="#" class="hover:underline hover:text-primary1">Preguntas frecuentes</a></li>
    <li><a href="#" class="hover:underline hover:text-primary1">Recursos adicionales</a></li>
    <li><a href="#" class="hover:underline hover:text-primary1">Contactanos</a></li>
    <li><a href="/login" class="hover:underline hover:text-primary1">Iniciar Sesión</a></li>
  </ul>
</nav>