<nav class="z-10 fixed w-full bg-background text-white flex justify-between items-center px-16 ">
  <a href="/"><img src="\LOGO-UM-BANCO-H.png" class="m-2 h-7"/></a>

  <ul class="flex h-12 gap-20 items-center ">
    <li><a href="/" class="hover:underline hover:text-primary1">Página principal</a></li>
    <li><a href="#" class="hover:underline hover:text-primary1">Malla curricular</a></li>
    <li><a href="/inscripcion" class="hover:underline hover:text-primary1">Inscripción de asignaturas</a></li>
    <li><a href="/horario" class="hover:underline hover:text-primary1">Horario actual</a></li>
  </ul>

  <a href="/login" class="m-2 hover:underline hover:text-primary1">Iniciar Sesión</a>
</nav>